In [3]:
import pandas as pd
data = pd.read_csv('diabetes.csv')

In [4]:
data.head()

,Patient_ID,Treatment,HemoglobinA1C.Baseline,HemoglobinA1C.Followup,Female,Age,SBP,BMI
0,1,False,4.9,7.1,False,43,123,25.43
1,2,True,5.1,5.4,False,47,128,26.28
2,3,True,5.1,4.3,True,55,120,28.21
3,4,True,5.2,5.1,True,54,132,25.98
4,5,True,5.2,7.1,True,40,111,26.22

In [5]:
data.head(10)

,Patient_ID,Treatment,HemoglobinA1C.Baseline,HemoglobinA1C.Followup,Female,Age,SBP,BMI
0,1,False,4.9,7.1,False,43,123,25.43
1,2,True,5.1,5.4,False,47,128,26.28
2,3,True,5.1,4.3,True,55,120,28.21
3,4,True,5.2,5.1,True,54,132,25.98
4,5,True,5.2,7.1,True,40,111,26.22
5,6,False,5.2,5.0,False,48,135,27.68
6,7,True,5.2,3.1,True,36,101,25.53
7,8,True,5.4,5.8,False,45,113,30.50
8,9,True,5.5,6.1,True,50,113,28.68
9,10,True,5.6,3.7,False,35,115,28.84

In [6]:
data.tail()

,Patient_ID,Treatment,HemoglobinA1C.Baseline,HemoglobinA1C.Followup,Female,Age,SBP,BMI
515,516,False,15.7,11.7,True,58,138,34.74
516,517,False,15.9,14.2,True,50,124,32.43
517,518,False,16.9,13.6,False,47,154,35.43
518,519,False,17.0,12.9,True,71,129,29.31
519,520,False,20.2,16.1,False,44,135,33.24

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Patient_ID              520 non-null    int64
 1   Treatment               520 non-null    bool
 2   HemoglobinA1C.Baseline  520 non-null    float64
 3   HemoglobinA1C.Followup  520 non-null    float64
 4   Female                  520 non-null    bool
 5   Age                     520 non-null    int64
 6   SBP                     520 non-null    int64
 7   BMI                     520 non-null    float64
dtypes: bool(2), float64(3), int64(3)
memory usage: 25.5 KB

In [8]:
data.describe()

,Patient_ID,HemoglobinA1C.Baseline,HemoglobinA1C.Followup,Age,SBP,BMI
count,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000
mean,260.500000,9.125192,8.239038,53.723077,131.459615,31.942115
std,150.255338,2.242281,2.277399,11.146089,12.724073,2.982069
min,1.000000,4.900000,2.800000,26.000000,80.000000,22.970000
25%,130.750000,7.475000,6.675000,46.000000,123.000000,29.785000
50%,260.500000,8.900000,8.000000,54.000000,131.000000,31.950000
75%,390.250000,10.400000,9.725000,62.000000,140.000000,34.012500
max,520.000000,20.200000,16.300000,84.000000,182.000000,39.630000